.quotes{
   padding-top: 100px;
   height: 1000px;
  
}
h1{
    font-size: 80px !important;
    font-family: Impact !important;
}
.quotep{
   
    font-size: 30px;
  font-weight: 100;
  margin: 20px;

}
.quotepp{
  font-size: 30px;
  font-weight: 100;
  margin: 20px;
}
.btn1{
   width: 15%;
  padding: 25px;
  background-color: blue;
  transition:  background-color ;
  
  
}
.btn1:hover{
    background-color: green;
   
}
.btncontainer{
    text-align: center;
    margin-top: 50px;
}